* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  line-height: 1.6;
  color: #333;
}

header {
  background: #222;
  color: white;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

nav {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  background: linear-gradient(to right, #1b07cb, #2575fc);
  color: white;
  text-align: center;
  padding: 120px 20px 60px;
}

.profile-pic {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 4px solid white;
}

.section {
  max-width: 900px;
  margin: auto;
  padding: 60px 20px;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: rgb(0, 221, 255);
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills-list li {
  background: #eee;
  padding: 10px 20px;
  border-radius: 5px;
  list-style: none;
}

.project-card {
  background: #f4f4f4;
  padding: 20px;
  margin: 10px 0;
  border-left: 5px solid #2575fc;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}
